<% if current_user %>
<div id="createLog">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a Log</h3>
  </div>
  <div class="panel-body">
    <%= form_for @log do |f| %>
        <%= f.text_field :when, class: 'form-control' %>
        <%= f.text_field :address, class: 'form-control' %>
        <%= f.text_field :address_2, class: 'form-control' %>
        <%= f.text_field :city, class: 'form-control' %>
        <%= f.text_field :state, class: 'form-control' %>
        <%= f.text_field :zip, class: 'form-control' %>
        <%= f.text_field :title, class: 'form-control' %>
        <%= f.text_field :media_type, class: 'form-control' %>
        <%= f.text_field :category, class: 'form-control' %>
        <%= f.text_area :description, class: 'form-control' %>
        <%= f.submit "Submit Log" %>
      <% end %>
  </div>
</div>
</div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Buddies' Logs</h3>
  </div>
  <div class="panel-body">
    <div class="well"><% @logs.each do |log| %>
            <a href="<%= user_path bark.user %>">
            <span class="name"><%= bark.user.name %></span>
            </a>
            @<%= log.user.username %> 
            <span class="time"><%= time_ago_in_words(log.created_at) %></span>
            <p><%= log.when %> </p>
                <p><%= log.address %> </p>
                <p><%= log.address_2 %> </p>
                <p><%= log.city %> <%= log.state %> <%= log.zip %> </p>
                <p><%= log.title %> </p>
                <p><%= log.description %> </p>
        <% end %>
   </div>
  </div>
</div>


