<% if current_user %>
<h3 class="panel-title">Log Feed</h3>
<div id="logs" class="transitions-enabled">
  <% @logs.each do |log| %>
  <div class="box panel panel-default">
    <div class="panel-body">
        <p><%= log.title %> </p>
        <p><%= log.description %></p>
        <p><a href="<%= user_path log.user %>">
          <span class="name"><%= log.user.name %></span>
          </a><span class="spacing"> @<%= log.user.username %></span>
        </p>
  <%= link_to 'Show', log_path(log) %>
      <% if log.user == current_user %>
        <%= link_to 'Edit', edit_log_path(log) %>
        <%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
  </div>
  <% end %>
</div>
  <% end %>



