<% if current_user %>
<img class="avatar" src='<%= @user.avatar_hash %>'>
<span><strong><%= @user.name %> </span> @<%= @user.username %></strong>

<p><%= @user.logs.size %> Logs
<span class="spacing"><%= @user.followers.count %> Followers</span>
<span class="spacing"> <%= @user.followeds.count %> Following</span>
</p>
<% if current_user && @user != current_user %>
  <% if current_user.following? @user %>
    <%= form_tag relationship_path(@relationship), method: :delete do %>
    <%= submit_tag "Unfollow" %>
    <% end %>
  <% else %>
    <%= form_for @relationship do %>
    <%= hidden_field_tag :followed_id, @user.id %>
    <%= submit_tag "Follow" %>
    <% end %>
  <% end %>
<% end %>


<h3>Logs</h3>
<div id="logs" class="transitions-enabled">
  <% @user.logs.each do |log| %>
  <div class="box panel panel-default">
    <div class="panel-body">
      <p><%= log.title %></p>
        <p><%= log.description %> </p>
        <p><a href="<%= user_path log.user %>">
        <span class="name"><%= @user.name %></span></a>
        <span class="spacing"> @<%= @user.username %></span>
      </p>
    
    <%= link_to 'Show', log_path(log) %>
      <% if log.user == current_user %>
        <%= link_to 'Edit', edit_log_path(log) %>
        <%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      
    </div>
  </div>
<% end %>
</div>
 <% end %>


